@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f3f8f7 49.91%,
    #fff9f5 94.19%
  );
  font-family: "Poppins", sans-serif;
}

.wrapper {
  position: relative;
  width: 1440px;
  height: 1379px;
  /* min-height: 100vh; */
  margin: auto;
  color: #54575a;
}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  left: 221px;
  top: 236px;

  font-size: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 67px;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;
  font-size: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.brand-img {
  position: absolute;
  width: 193px;
  height: 47.64px;
  top: 50.25px;
  left: 221px;
  gap: 0px;
}

.app-store-btn {
  position: absolute;
  width: 138.44px;
  height: 46.28px;
  top: 560px;
  left: 221px;
}

.app-store-btn img {
  width: 138.44px;
  height: 46.28px;
}

.google-play-btn {
  position: absolute;
  width: 156.19px;
  height: 46.28px;
  top: 560px;
  left: 381.81px;
}

.google-play-btn img {
  width: 156.19px;
  height: 46.28px;
}

.main-image-container {
  position: absolute;
  width: 535.72px;
  height: 309.27px;
  top: 229.73px;
  left: 683.28px;
}

.main-image-container img {
  height: 411.15px;
}

.profile-img {
  position: absolute;
  height: 444px;
  top: 686px;
  left: 737px;
}

.orders-img {
  position: absolute;
  height: 470px;
  top: 913px;
  left: 479px;
}

.home-img {
  position: absolute;
  height: 470px;
  top: 908px;
  left: 995px;
}

.cart-img {
  position: absolute;
  height: 222px;
  top: 1157px;
  left: 221px;
}

.product-img {
  position: absolute;
  height: 222px;
  top: 1157px;
  left: 737px;
}
